

.colored-img {
    display: none;
}

.project-card:hover .discolored-img {
    display: none;
}

.project-card:hover .colored-img {
    display: block;
}

.rounded-20 {
    border-radius: 20px;
}

.logo-small{
    height: 50px;
    width: 50px;
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .1s ease;
}

#spinnerPhoto{
    height: 28rem;
    width: 28rem;
}

.fade-out-animation {
    opacity: 0;
    visibility: hidden;
}